# Copyright (c) 2012-2014 NVIDIA Corporation.  All Rights Reserved.
#
# NVIDIA Corporation and its licensors retain all intellectual property and
# proprietary rights in and to this software and related documentation.  Any
# use, reproduction, disclosure or distribution of this software and related
# documentation without an express license agreement from NVIDIA Corporation
# is strictly prohibited.

import init.icera.common.rc

on early-init
# agpsd socket property
    setprop agpsd.socket_path "/dev/socket/at_pal"

on init
# agpsd tty port property
    setprop agpsd.dev_path "/dev/ttyACM4"
# rild properties
    setprop rild.libargs "-e rmnet0 -e rmnet0:0 -e rmnet0:1 -n"

# icera generic properties
    setprop gsm.modem.crashlogs.directory /data/rfs/data/debug
    setprop ril.maxretries 15

# Start Icera switcher daemon
service icera-switcher /vendor/bin/icera-switcherd
    class main
    user radio
    group log usb

# Icera firmware update
service icera-loader /vendor/bin/icera-loader /dev/ttyACM0
    class main
    user root
    group radio
    disabled
    oneshot

# Start AGPS daemon
service agps-daemon /vendor/bin/agpsd
    class main
    user radio
    socket at_pal seqpacket 0666 radio system
    group system

on property:gsm.modem.update=1
    start icera-loader

on property:ril.testmode=2
    setprop ril.mock_modem.socketname "/dev/mock_modem"
    start mock_modem
    stop ril-daemon
    stop agps-daemon
    start ril-daemon-test

on property:ril.testmode=1
    setprop ril.mock_modem.socketname ""
    stop ril-daemon
    stop ril-daemon-test
    stop mock_modem
    start ril-daemon-test

on property:ril.testmode=0
    setprop ril.mock_modem.socketname ""
    stop ril-daemon-test
    stop mock_modem
    start ril-daemon

