# Copyright (c) 2016, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

dontaudit system_server self:process execmem;
dontaudit system_server dalvikcache_data_file:file w_file_perms;
dontaudit system_app dalvikcache_data_file:file w_file_perms;
dontaudit untrusted_app user_profile_foreign_dex_data_file:file { open read };
dontaudit priv_app user_profile_foreign_dex_data_file:file { open read };
dontaudit radio user_profile_foreign_dex_data_file:file { open read };

