# Copyright (c) 2014, NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Allow untrusted apps to access tsecb dev node
allow untrusted_app tsec_device:chr_file rw_file_perms;

# Access to read SOC family
r_dir_file(untrusted_app, sysfs_soc)
allow untrusted_app sysfs_tegra_gpu:file r_file_perms;
allow untrusted_app sysfs_tegra_emc:file r_file_perms;

allow untrusted_app system_app_service:service_manager find;

# Dont audit untrusted app accessing kernel
dontaudit untrusted_app kernel:dir { search getattr };

# Allow access to external storage
allow untrusted_app storage_stub_file:dir getattr;

# Allow netcfg for TegraZone apk
r_dir_file(untrusted_app, sysfs_netcfg)

# Allow untrusted app to search for sysfs_zram only on userdebug
userdebug_or_eng(`
r_dir_file(untrusted_app, sysfs_zram)
')

# Apps on sdcard: access shared lib in asec
allow untrusted_app asec_public_file:dir r_dir_perms;
allow untrusted_app asec_public_file:file r_file_perms;

# Dont allow untrusted apps to access MAC address
dontauditxperm untrusted_app self:udp_socket ioctl SIOCGIFHWADDR;
