# Copyright (c) 2016 NVIDIA CORPORATION.  All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# wpalog is the extra log collected for wifi

type wpalog, domain;
type wpalog_exec, exec_type, file_type;

init_daemon_domain(wpalog)
set_prop(wpalog, system_prop)

allow wpalog system_file:file execute_no_trans;
allow wpalog shell_exec:file rx_file_perms;
allow wpalog toolbox_exec:file rx_file_perms;
allow wpalog wifi_data_file:dir { search add_name write };
allow wpalog wifi_data_file:file create_file_perms;
allow wpalog self:capability { fowner chown };

allow wpalog tmpfs:dir r_dir_perms;
